body {
    background: rgb(196, 231, 221);
}

.box{
    position: fixed;
    bottom: 0;
    right: 0;
    border-style:solid;
    border-width: 20px;
    border-color: gray;
}

.clock {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: black;
    color: white;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
    border-style:solid;
    border-width: 20px;
    border-color: gray;
}